a {
text-decoration : none;
color : #cccccc;
outline : none;
}
a:hover, a:focus {
color : #fff;
outline : none;
text-decoration : none;
}
.clearfix:before, .clearfix:after {
display : table;
content : " ";
}
.clearfix:after {
clear : both;
}
.codrops-header, .codrops-top {
font-family : 'Lato', Arial, sans-serif;
}
.codrops-header {
margin : 0 auto;
padding : 2em;
text-align : center;
}
.codrops-header h1 {
margin : 0;
font-weight : 300;
font-size : 2.625em;
line-height : 1.3;
}
.codrops-header span {
display : block;
padding : 0 0 0.6em 0.1em;
font-size : 60%;
opacity : 0.7;
}
.codrops-top {
width : 100%;
background : #91cfa1;
text-transform : uppercase;
font-size : 0.69em;
line-height : 2.2;
}
.codrops-top a {
display : inline-block;
padding : 0 1em;
color : #fff;
text-decoration : none;
letter-spacing : 0.1em;
}
.codrops-top a:hover {
color : #333;
}
.codrops-top span.right {
float : right;
}
.codrops-top span.right a {
display : block;
float : left;
}
.codrops-icon:before {
margin : 0 4px;
text-transform : none;
font-weight : normal;
font-style : normal;
font-variant : normal;
font-family : 'codropsicons';
line-height : 1;
speak : none;
}
.codrops-icon-drop:before {
content : "\e001";
}
.codrops-icon-prev:before {
content : "\e004";
}
.codrops-demos {
padding-top : 1em;
font-size : 1.1em;
}
.codrops-demos a {
display : block;
float : left;
clear : both;
margin : 0.5em 0.5em 0.5em 1.9em;
padding : 1em 1.1em;
width : 280px;
outline : none;
color : #fff;
background : #336ca6;
text-align : center;
text-decoration : none;
font-weight : 700;
}
.codrops-demos a, section button {
display : inline-block;
background : #a9a9a9;
color : #fff;
font-weight : 100;
padding : 10px 20px;
margin : 5px;
text-transform : uppercase;
letter-spacing : 1px;
}
.codrops-demos a:hover, .codrops-demos a.current-demo, .codrops-demos a.current-demo:hover {
opacity : 0.6;
}
.content {
padding : 4em 2em;
max-width : 1200px;
margin : 0 auto;
}
.block {
float : left;
padding : 1em 3em;
}
.block-40 {
width : 40%;
}
.block-60 {
width : 60%;
}
.block p {
margin : 0;
padding : 0 1em 0.6em;
font-size : 1.8em;
line-height : 1.5;
}
.info {
text-align : center;
font-size : 1.5em;
margin-top : 3em;
clear : both;
padding-top : 3em;
color : rgba(255, 255, 255, 0.5);
}
.info a {
font-weight : 700;
font-size : 0.9em;
}
.info a:hover {
color : #336ca6;
}
section {
padding : 1em 2em 5em;
text-align : center;
font-size : 1.5em;
}
section p {
max-width : 600px;
margin : 0 auto;
padding : 20px 0;
}
section button {
border : none;
padding : 15px 30px;
outline : none;
background : #85b91e;
}
.related > a {
border : 1px solid #99cc33;
display : inline-block;
text-align : center;
margin : 20px 10px;
padding : 25px;
color : #99cc33;
opacity : 0.8;
}
.related a:hover {
border-color : #82b222;
color : #82b222;
}
.related a img {
max-width : 100%;
}
.related a h3 {
margin : 0;
padding : 0.5em 0 0.3em;
max-width : 300px;
text-align : left;
font-size : 65%;
font-weight : 400;
}